body {
    margin: 0;
}

.menu {
    height: 180px;
    background-color: #E1701A;
}

.input-section {
    height: 160px;
    width: 100%;
    background-color: #FBFBFB;
    position: fixed;
    bottom: 0;
}

#input-form {
    display: flex;
    justify-content: center;
}

#submit-btn {
    border-radius: 50%;
    background-color: #F7A440;
}